*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	/* box-sizing: border-box; */
}
body
{
	font-family: sans-serif;
	background-color: #383838;
}
header
{
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	position: absolute;
	width:100%;
	/* z-index makes sure it's ontop of everything. */
	z-index: 999;
}
/* Makes check box disappear */
.nav-toggle
{
	display: none;
}
.nav-toggle-label
{
	/* Absolutle lets us tell where to go. */
	position:absolute;
	top:0;
	left:0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}
/* Before and after is saying we are selecting the before and after psuedo elements. */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after
{
	content: '';
	position:absolute;
}
.nav-toggle-label span::before
{
	bottom: 7px;
}
.nav-toggle-label span::after
{
	top:7px;
}
nav
{
	/* Relavtive to the header */
	position: absolute;
	text-align: left;
	/* Line up underneith of the logo. */
	top: 100%;
	left: 0;
	background-color: black;
	width: 100%;
	/* Hides the anchors with the 0 in the second part. */
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}
nav ul
{
	margin:0;
	padding:0;
	list-style: none;
}
nav li
{
	margin-bottom: 1em;
	margin-left: 1em;
}
nav a
{
	padding: 3px 5px;
	border-radius: 5px;;
	font-weight: bold;
	text-decoration: none;
	color:white;
	text-decoration: none;
	/* font-size: 1.2rem; */
	text-transform: uppercase;
	background-color: black;
	width: 100%;
	opacity: 0;
	transition: opacity 2ms ease-in-out;
}
.logo
{
	font-size: 250%;
}
sub
{
	font-size: 35%;
}

table
{
	width: 75%;
	margin-right: auto;
	margin-left:auto;
	background-color: black;
	border: 2px solid white;
	border-collapse: collapse;
	color: white;
	margin-bottom: 10px;
}
table th
{
	font-weight: bold;
	font-size: 20px;
	border: 2px solid white;
	border-collapse: collapse;
	width: 20%;
}
table td
{
	border: 2px solid white;
	border-collapse: collapse;
	text-align: left;
	padding: 2px;
}
table caption
{
	color: white;
	font-weight: bold;
	padding: 2.5%;
	font-size: 35px;
}
table img
{
	width: 200px;
	height: auto;
}
.build_page
{
	background-color: #383838;
}
.form_bar
{
	padding: 10px;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	width: 100%;
	text-align: center;
}
h2
{
	text-align: center;
}
h5
{
	text-align: center;
	margin-bottom: 20px;
}
.email
{
	width: 300px;
}
.subject
{
	width: 300px;
}
textarea
{
	width: 300px;
	height: 150px;
}
caption
{
	margin-top: 1em;
}
a.active,a:hover
{
	background: #383838;
	transition: .5s;
}

/* Check looks for the checkbox is checked. 
~ is looking for any sibling  from this class.*/
.nav-toggle:checked ~ nav
{
	transform: scale(1,1);
}
.nav-toggle:checked ~ nav a
{
	opacity: 1;
		/* 250ms at the end is saying that you take this much 
	time before starting the animation. */
	transition: opacity 250ms ease-in-out 300ms;
}

@media screen and (min-width:1064px)
{
	.nav-toggle-label
	{
		display: none;
	}
	header
	{
		display:grid;
		/* Setting up four colums, and navgation is set at 877px to 1 fr.*/
		grid-template-columns: 1fr auto minmax(400px, 1fr) 1fr 1fr;
	}
	.logo
	{
		/* When using grid, when using 1/4 it starts at 1 and ends at 4.
		Just using 1 just places the start at 1. */
		grid-column: 1/2;
	}

	nav
	{
		/* All unset is taking all of the modications above. */
		all: unset;
		grid-column: 4/6;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul
	{
		display: flex;
		justify-content: flex-end;
	}
	nav li
	{
		margin-left: 2em;
		margin-bottom: 0px;
		margin-right: 1em;
	}
	nav a
	{
		opacity: 1;
	}
	footer a:hover
{
	transition: .5s;
	background: blue;
}
a.active,a:hover
{
	background: #383838;
	transition: .5s;
}
}