*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	/* box-sizing: border-box; */
}
body
{
	font-family: sans-serif;
	background-color: #383838;
}
nav
{
	/*position: fixed;*/
	background-color: black;
	height: 90px;
	width: 100%;
}
label.logo
{
	/*color: #F8CF40;*/
	color: white;
	font-size: 40px;
	line-height: 80px; 
	padding: 0 50px;
	font-weight: bold;
}
label sub
{
	color: white;
	font-size: 10px;
	line-height: 80px;
}
nav ul
{
	float: right;
	margin-right: 30px;
}
nav ul li
{
	display: inline-block;
	line-height: 80px; 
	margin: 0 20px;
	}
nav ul li a
{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	padding: 8px 15px;
	border-radius: 5px;
	font-weight: bold;

}

table
{
	width: 75%;
	margin-right: auto;
	margin-left:auto;
	background-color: black;
	border: 2px solid white;
	border-collapse: collapse;
	color: white;
	margin-bottom: 10px;
}
table th
{
	font-weight: bold;
	font-size: 20px;
	border: 2px solid white;
	border-collapse: collapse;
	width: 20%;
}
table td
{
	border: 2px solid white;
	border-collapse: collapse;
	text-align: left;
	padding: 2px;
}
table caption
{
	color: white;
	font-weight: bold;
	padding: 2.5%;
	font-size: 35px;
}
table img
{
	width: 200px;
	height: auto;
}
.build_page
{
	background-color: #383838;
}
.form_bar
{
	padding: 10px;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	width: 100%;
}
h2
{
	text-align: center;
}
h5
{
	text-align: center;
	margin-bottom: 20px;
}

/* .name_bar
{
	width: 200px;
	margin-right: auto;
	margin-left: auto;
} */

.email
{
	width: 300px;
}
.subject
{
	width: 300px;
}
textarea
{
	width: 300px;
	height: 150px;
}
a.active,a:hover
{
	background: #383838;
	transition: .5s;
}
