

*, *::before, *::after
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	font-family: sans-serif;
	background-color: #383838;
	font-size: 1em;
	
}
header
{
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	position: absolute;
	width:100%;
	/* z-index makes sure it's ontop of everything. */
	z-index: 999;
}
/* Makes check box disappear */
.nav-toggle
{
	display: none;
}
.nav-toggle-label
{
	/* Absolutle lets us tell where to go. */
	position:absolute;
	top:0;
	left:0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}
/* Before and after is saying we are selecting the before and after psuedo elements. */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after
{
	content: '';
	position:absolute;
}
.nav-toggle-label span::before
{
	bottom: 7px;
}
.nav-toggle-label span::after
{
	top:7px;
}
nav
{
	/* Relavtive to the header */
	position: absolute;
	text-align: left;
	/* Line up underneith of the logo. */
	top: 100%;
	left: 0;
	background-color: black;
	width: 100%;
	/* Hides the anchors with the 0 in the second part. */
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}
nav ul
{
	margin:0;
	padding:0;
	list-style: none;
}
nav li
{
	margin-bottom: 1em;
	margin-left: 1em;
}
nav a
{
	padding: 3px 5px;
	border-radius: 5px;;
	font-weight: bold;
	text-decoration: none;
	color:white;
	text-decoration: none;
	/* font-size: 1.2rem; */
	text-transform: uppercase;
	background-color: black;
	width: 100%;
	opacity: 0;
	transition: opacity 2ms ease-in-out;
}
.logo
{
	font-size: 250%;
}
sub
{
	font-size: 35%;
}

.slideshow-container
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: -5px;
}
.slideshow-container img
{
	width:75%;
}
.build-container
{
	font-family: sans-serif;
	color:white;
	background-color: black;
	/* font-size: 1.25em; */
	font-weight: bold;
	width: 100%;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.build-container p
{
	padding: 1em;
}
.build-container a
{
	display: inline-block;
	background-color: white;
	padding: 3px 5px;
	border-radius: 5px;
	color: black;
	text-decoration: none;
}
.repair-column
{
	float: left;
	width: 33.33%;
	padding: 0px;

}
.repair-row
{
	margin-left: auto;
	margin-right: auto;
	clear: both;
	display: table;
}
.repair-row img
{
	width: 100%;
}
.repair-container
{
	font-family: sans-serif;
	color:white;
	background-color: black;
	/* font-size: 1.25em; */
	font-weight: bold;
	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	text-align: center;
}
.repair-container p
{
	padding: 1em;
}
.repair-container a
{
	display: inline-block;
	background-color: white;
	padding: 3px 5px;
	border-radius: 5px;
	color: black;
	text-decoration: none;
}
.about-me-picture-container
{
	padding: 1em;
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	background-color: black;
	border-radius: 3em;
	text-align: center;
}
.about-me-picture-container p
{
	font-size: 1em;
	color:white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding: 2em;
}
.about-me-picture-container img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 40%;
	border-radius: 50em;
}
.about-me-container a
{
	font-size: 1em;
	background-color: white;
	padding: 3px 5px;
	border-radius: 5px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}
footer
{
	display: inline-block;
	background-color: black;
	width: 100%;
	height: 75px;
	text-align: center;
	padding-top: 10px;

}
footer a
{
	padding:5px;
	color:white;
	font-size: 3em;
	
}
footer a:hover
{
	transition: .5s;
	background: blue;
}
a.active,a:hover
{
	background: #383838;
	transition: .5s;
}
/* Check looks for the checkbox is checked. 
~ is looking for any sibling  from this class.*/
.nav-toggle:checked ~ nav
{
	transform: scale(1,1);
}
.nav-toggle:checked ~ nav a
{
	opacity: 1;
		/* 250ms at the end is saying that you take this much 
	time before starting the animation. */
	transition: opacity 250ms ease-in-out 300ms;
}


@media screen and (min-width:700px)
/**************************** Nav Bar Start ******************************* */
	{
		.nav-toggle-label
		{
			display: none;
		}
		header
		{
			display:grid;
			/* Setting up four colums, and navgation is set at 877px to 1 fr.*/
			/* grid-template-columns: 400px auto minmax(400px, 1fr) 1fr 1fr; */
			grid-template-columns: 250px 55% 1fr 1fr 1fr 1fr 1fr;
		}
		.logo
		{
			/* When using grid, when using 1/4 it starts at 1 and ends at 4.
			Just using 1 just places the start at 1. */
			grid-column: 1/2;
	
		}
	
		nav
		{
			/* All unset is taking all of the modications above. */
			all: unset;
			grid-column: 4/7;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			
		}
		nav ul
		{
			display: flex;
			justify-content: flex-end;
		}
		nav li
		{
			margin-left: 2em;
			margin-bottom: 0px;
			/* margin-right: 1em; */
		}
		nav a
		{
			opacity: 1;
		}
/**************************** Nav Bar End ******************************* */
.about-me-picture-container
{
	padding: 1em;
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 55%;
	background-color: black;
	border-radius: 3em;
	text-align: center;
}
	footer a:hover
{
	transition: .5s;
	background: blue;
}
a.active,a:hover
{
	background: #383838;
	transition: .5s;
}
}